.DS_Store

## Build generated
build
DerivedData

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages
.httpd.pid
Package.pins

